.idea
.vagrant
/vendor/
/web/bundles/
/html/FANN_XOR/xor_float.net
/html/vendor/
/html/Data/*.data
/ElygaCoin/2_gossip/data/*.user
/ElygaCoin/2_gossip/data/*.json
/ElygaCoin/2_gossip/data/*.port
/ElygaCoin/6_final/data/*.user
/ElygaCoin/6_final/data/*.json
/ElygaCoin/6_final/data/*.port
/ElygaCoin/6_final/data/*.key

